.music-bar {
  background-color: #282828;
  color:white;
  padding: 16px;
  height: 90px;
  
}

.music-bar .music-bar-inside {
  height: 56px;
}

@media (min-width: 0px) {
  .music-bar .music-bar-left, .music-bar-right {
    width:30%;
  }
}

/* .music-bar .music-bar-left, .music-bar-middle, .music-bar-right{
  border: 1px solid white;
  height: 56px;
} */

/* ----------------Left-side-bar-------------------- */

.music-bar .card {
  height: 56px;
  max-width: 100%;
  background-color: #282828;
  border: none;
}

.music-bar .card-body {
  padding: 6px 15px;
  max-width: 100%;
  position: relative;
}

.music-bar .list-group {
  list-style-type: none;
}

.music-bar .song-photo {
  /* position: relative; */
  isolation: isolate;
  top: 0;
  width: 100%;
  height: 100%;
  width: 56px;
  height: 56px;
  /* margin-right: 10px; */
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  /* float: left; */
}

/* .music-bar .names {
  height:50px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  float: left;
} */
.music-bar .song-name, #song-name {
  /* position: relative; */
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  color: #fff;
  text-align: left;
  font-weight: 600;
  padding-bottom: 1px;
  width: 100%;
}

.music-bar .artist-name, #artist-name {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .015em;
  text-align: left;
  color: #b3b3b3;
  width: 100%;
}

.music-bar #song-name:hover {
  text-decoration: none;
  border-bottom: 1px solid white;
}

.music-bar #artist-name:hover {
  text-decoration: none;
  color: #fff;
}

.music-bar #heart-button {
  background-color: #282828;
  border: none;
  color: #b3b3b3;
  float: left;
  outline: none;
  
}

.music-bar #heart-button:hover {
  color: white;
}


/* TODO: Fix text overflow for titles that are too long */
.music-bar .prevent-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

/* ----------------Right-side-bar-------------------- */
.music-bar #volume-button {
  color: #b3b3b3;
  background-color: #282828;
  border: none;
  outline: none;
}

.music-bar #volume-button:hover {
  color: white;
}

.music-bar .progress {
  width: 80px;
  height: 4px;
  border-radius: 3px;
  background-color:#535353;
  margin-top: 10px;
}
.music-bar .progress-bar {
  background-color: #b3b3b3 !important;
  border-radius: 3px;
}
.music-bar #music-progress:hover .progress-bar {
  background-color: #1db954 !important;
}

.music-bar .slider {
  color: white;
  background-color: transparent;
  border: none;
  outline: none; 
  z-index: 99;
  position: absolute;
  margin-top: -4px;
}

/* ----------------Middle-side-bar-------------------- */

.music-bar #music-progress {
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background-color:#535353;
  margin-top: 10px;
  position: relative;
  overflow: visible;
}

.music-bar .duration-bar {
  width: 100%;
  margin-top: 2px;
}

.music-bar .duration {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .015em;
  text-align: left;
  color: #b3b3b3;
}

.music-bar .music-bar-middle {
    width:40%;
}  

.music-bar .middle-icons {
  color: #b3b3b3;
  background-color: #282828;
  border: none;
  outline: none;
}

.music-bar .middle-icons:hover {
  color: white;
}

.music-bar .play {
  font-size: 40px;
}

.progress button{
  position: absolute;
}
.music-bar-right .progress {
  position: relative;
  overflow: visible;
  
}
.music-bar-right .progress button{
  position: absolute;
}
.music-bar-right .progress:hover .progress-bar{
  background-color: #1db954 !important;

}

.music-bar #music-progress  .fa-circle {
  display: none;
}
.music-bar #music-progress:hover .fa-circle {
  display: block;
}
.music-bar-right .progress:hover .fa-circle{
  display: block;
}
.music-bar-right .progress .fa-circle{
  display: none;
}

