.home-nav{
  display: block;
  width: 100%;
  height: 60px;
  background-color: rgb(18,18,18);
  position: fixed;
  z-index: 10;
  padding: 10px;
}

.home-nav-nabar{
  display: block;
  float: left;
  z-index: 15;
  position: relative;
}


.home-nav .drop-down{
  display: inline-block;
  z-index: 100;
  position: absolute;
  right:240px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 800px) {
.home-nav .drop-down .name{
  display: none;
}

}

@media only screen and (max-width: 600px) {

.home-nav .drop-down .name{
  display: none;
}
}

.home-nav #ul-upgrade{
 
  list-style: none;
}

.home-nav #upgradebtn{
  text-decoration: none;
  background-color: transparent;
  color: white;
  
  outline: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.76px;
  border-radius: 500px;
  line-height: 18px;
  padding: 8px 34px;
   
}
.home-nav #upgradebtn:hover{
  padding: 10px 36px;
}

@media (max-width:580px)
{
  .home-nav #upgradebtn{
    margin-top: 2px;
    padding: 5px 25px;
    font-size: 10px;
  }
  .home-nav #upgradebtn:hover{
    padding: 6px 27px;
    font-size: 10px;
  }
} 
