.content-wrapper {

    background-color: rgb(27,38,59);
    color: black;
    padding-left: 5%;
    padding-right: 5%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 950px) {

    .content-wrapper{
        padding-left: 2%;
        padding-right: 2%;


    }
}

/* Extra small devices (phones, 700px and down) */
@media only screen and (max-width: 700px) {   
    
    
    .content-wrapper{
    padding-left: 0%;
    padding-right: 0%;


}
}


