.your-library-playlist .content
{
 display:block;
  display: table;
  width: 100%;
  height: 100%;
  background-color:#121212;
  height:100%;
}
.your-library-playlist .actual-content
{
  padding: 20px;
  background-color: rgb(18,18,18);
  display: table;
  width: 100%;
  height: 100%;
  margin-bottom:150px;
  padding-right: 200px;
}
.your-library-playlist
{
  overflow-x:hidden;
  background-color:#121212;
  height:100%;
  position:fixed;
  width:100%;
}

.your-library-playlist #your-library-scroller::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 0px;
} 

.your-library-playlist #your-library-scroller::-webkit-scrollbar {
  width: 15px;
  background-color: #121212;

}
.your-library-playlist .your-library-scroller {
  height: 80%;
  width:100%;
  float:right;
  overflow-y: auto !important;
  background-color: #121212;
}
.your-library-playlist .playlist-header
{
  font-size: 28px;
  line-height: 1.6;
  font-weight: 600;
  letter-spacing: -.36px;
  color: #fff;
  margin: 8px 0;
  padding-left:16px;
}
