.SetPasswordContent
{
  margin-bottom: 55%;
  padding: 30px 30px;
  font-weight: 400;
  max-width: 877.5px;
  height: 678.4px;
  background-color:  rgb(248, 248, 248);
}

.SetPasswordContent #container2
{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 19px;
  padding-right: 19px;
  background-color: white;
}
.SetPasswordContent .form-group{
  text-decoration: none;
}
.SetPasswordContent input{
  outline: none;
  box-shadow: none;
  border-radius: 0;
}
.SetPasswordContent #success{
  text-align: center;
  background-color: rgb(29, 185, 84);
  color: white;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
  font-weight: 400;
  height: 30px;
  padding-top: 6px;
}

.SetPasswordContent #missing-current , #missing-new
{
  color:red;
  font-weight: 400;
  margin-top: 3px;
}
.SetPasswordContent .red-border
{
  border: 1px solid red;
}

.SetPasswordContent .container
{
  padding-left: 0;
  padding-right: 0;
}

.SetPasswordContent .header
{
  font-size: 26px;
  margin: .5em 0;
  padding-bottom:13px ;
  color: #1DB954;
  border-bottom: 1px solid lightgray;
}

.SetPasswordContent p
{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 24px;
}

.SetPasswordContent .button-green
{
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  border-radius: 500px;
  padding:10px 32px;
  /* transition-property: background-color,border-color,color,box-shadow,filter; */
  transition-duration: .3s;
  border-width: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: normal;
  touch-action: manipulation;
  background-color:rgb(29, 185, 84);
  width: 200px;
  filter: brightness(100%);
  outline: none;
  box-shadow: none;
}

.SetPasswordContent .button-green:hover
{
  filter: brightness(110%);
  background-color:#1ED760;
}

.SetPasswordContent #password-input1, #password-input2
{
  box-shadow: none;
  border-radius: 0;
  text-decoration: none;
}  




