@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

.flexBOXXX {
  background:black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificationSearchBox {
  margin: 50px;
}


.notificationSearchBox > div {
  display: inline-block;
  position: relative;
}

.notificationSearchBox > div:after {
  content: "";
  background:  rgb(29, 185, 84);
  width: 3px;
  height: 20px;
  position: absolute;
  top: 28px;
  right: -6px;
  transform: rotate(135deg);
  box-shadow: 1px 0 #0091c2;
}

.notificationSearchBox > div > input {
  color: white;
  font-size: 20px;
  background: transparent;
  width: 40px;
  font-style:Roboto, sans-serif;
  height: 40px;
  padding: 10px;
  border: solid 2px  rgb(29, 185, 84);
  outline: none;
  border-radius: 35px;
  box-shadow: 0 1px #0091c2;
  transition: width 2s;
}

.notificationSearchBox > div > input::placeholder {
  color: #efefef;
  opacity: 1;
}

.notificationSearchBox > div > input::-ms-placeholder {
  color: #efefef;
}

.notificationSearchBox > div > input::-ms-input-placeholder {
  color: #efefef;
}

.notificationSearchBox > div > input:focus,
.notificationSearchBox > div > input:valid {
  width: 250px;
}
