@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
#mainNotificationBox{
  background-color: rgb(29,185,84);
  width: 100%;
}
.fontForNotifications{
  font-family: 'Acme', sans-serif;
  font-size: 20px;

}


    