.artist-songs #HomePage-body{
  padding-top: 70px;
  padding-bottom: 100px;
  
}
.artist-songs {
  background-color: #121212;
  color: white;
  margin: 0;
  max-width: 1955px;
  padding-bottom: 110px;
}
.artist-songs .artist-top-section{
  background-color: #121212;
  color: white;
  padding: 0 32px;
  margin: 0;
  max-width: 1955px;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  background-position: 50%;
  height:300px;
  /* opacity: 0.5; */
}

.artist-songs .montly-listeners {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .015em;
  font-weight: var(--glue-font-weight-normal);
  text-transform: uppercase;
  letter-spacing: .16em;
  color: white;
  opacity: 1;
  padding-top: 140px;
  display: block;
  margin-bottom: 1em;
}

.artist-songs .artist-name {
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -.005em;
  font-weight: var(--glue-font-weight-black);
  color: #fff;
  padding-top:150px;
}


.artist-songs #buttons {
  margin-top: 16px;
  margin-bottom: 30px;
  /* font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.76px;
  text-transform: uppercase; */
}
.artist-songs .Bio
{
  margin:30px;
  color: rgb(179, 179, 179);
  font-size: 14px;
  letter-spacing: 0.21px;
  line-height: 20px;
  border: 2px solid white;
  padding:10px;
}
.artist-songs #play-button {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.76px;
  text-transform: uppercase;
	background:#1DB954;
	border:none;
	text-align: center;
	letter-spacing: 2px;
  padding: 10px 36px;
  margin-right: 15px;
  outline: none;
  box-shadow: none;
}


.artist-songs #play-button:hover {
  background: #1ED760;
  padding: 12px 38px 10px 38px;
}

.artist-songs #follow-button {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.76px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #fff;
	text-align: center;
	letter-spacing: 2px;
  padding: 8px 34px;
  outline: none;
  box-shadow: none;
  margin-right: 10px;
}



.artist-songs #artist-profile-sections {
  margin-top: 16px;
}

.artist-songs .artist-profile-sections {
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: .015em;
  background-color: #333;
  color: #fff;
  position: relative;
  border: 0;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 8px;
  outline: none;
}

/* .artist-songs .grey-background {
  background-color: #333;
} */
@media (max-width: 730px){
  .artist-songs #follow-button{
    margin-bottom: 10px !important;
  }
}


@media (max-width:635px)
{
  .artist-songs .artist-name
  {
    font-size:40px;
  }
  .artist-songs #follow-button {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 1.76px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #fff;
    text-align: center;
    letter-spacing: 2px;
    padding: 8px 20px;
    outline: none;
    box-shadow: none;
    margin-right: 10px;
  }
}


@media (max-width: 525px){
  .artist-songs .artist-top-section{
    width: 100% !important;
  }
  .artist-songs .artist-name
  {
    font-size:35px;
  }
  .artist-songs #follow-button {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 1.76px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #fff;
    text-align: center;
    letter-spacing: 2px;
    padding: 8px 20px;
    outline: none;
    box-shadow: none;
    margin-right: 10px;
  }
}


#artist-profile-sections a.active{
  background-color: #333;
}
.artist-songs
{
  background-color: rgb(18,18,18);
  color:white;
  overflow: hidden;
}

.artist-songs .content-spacing {
  padding: 0 32px;
  max-width: 1955px;
  margin-top: 70px;
  margin-bottom: 90px;
  padding-top: 2em;
}
.artist-songs h3{
  cursor: default;
}

.artist-songs .centered-content li{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}


.artist-songs #like-song
{
  font-size: 30px;
  margin-top: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #b3b3b3;
  float: left;
  outline: none;
}
.artist-songs #like-song:hover{
  color:white;
}

.artist-songs .table
{
  color:white;
}
/* 
 */
.artist-songs .music-sign:after
{
  content: "\266A" ; 
  font-size: 20px;
  color:#b3b3b3;
  cursor: default;
  margin-right: 0px !important;
}
.artist-songs  tr:hover .music-sign:after{
  content: "\25B8" ; 
  font-size: 20px;
  color:white;
  cursor: default;
  
}
.artist-songs .song-content
{
  width:2000px !important;
  padding: 3px;
}

.artist-songs .song-info a
{
  color:#b3b3b3;
  font-size:12px;
  text-decoration: none;
}
.artist-songs .song-info a:hover
{
  color:white;
  
  text-decoration: underline;
}


.artist-songs tr:hover{
  background-color: rgba(70, 66, 69,0.4);
}

.artist-songs .table tr:hover{
  color:rgb(29, 185, 84) !important;
}

.artist-songs #follow-button:hover{
  padding: 10px 36px;
}

.artist-songs #all-albums{
  font-size: 35px;
  font-weight: 600;
  color: white;
  padding-left: 25px;
  text-decoration: underline;
  margin-top: 20px;
  position: relative;
  
}


@media (min-width:670px) and (max-width: 770px)
{
  .artist-songs #all-albums{
    right: 190px;
  }
}

.table td, .table th {
  padding: 3px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.artist-songs .Menu{
  cursor: pointer;
  visibility: hidden;
}

.artist-songs  tr:hover .Menu{
  visibility: visible;
}


/* ////////////////// DropDpwn //////////////////////// */

.artist-songs .dropdown  {
  position: absolute;
  display: inline-flex;
  
  color:white;
  text-decoration: none;
}
.artist-songs .dropdown a{
  color:white;
  text-decoration: none;
}

/*//////////////// DropMenuSong ///////////////////*/

.artist-songs .dropdown-menu.song-dropdown-content.show {
  padding: 0;
}

.artist-songs .song-dropdown-content {
  display: none;
  background-color: #f1f1f1;
  width: max-content;
  box-shadow: none;
  border-color: black;
  z-index: 1;
}

.artist-songs .song-dropdown-content a {
  color: #B3B3B3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color:#282828;
  
}
.artist-songs .song-dropdown-content a:hover {
  color:white;
  background-color:rgb(53, 53, 53);
  cursor:default;
}

.artist-songs .show {
  display: block;
}

/* //////////////////////// Page responsive ////////////////////////////////*/
/* @media (max-width: 768px) {
  .artist-songs .song-content{
  width:280px;
 }
  }
  
  @media (min-width: 768px) and (max-width: 992px){
    .artist-songs .song-content{
      width:400px;
   }
  }

  @media (min-width: 992px) and (max-width: 1200px){
    .artist-songs .song-content{
      width:580px;
   }
  }
  
  @media (min-width: 1200px) and (max-width: 1500px){
    .artist-songs .song-content{
      width:600px;
   }
  }
   @media (min-width: 1500px){
    .artist-songs .song-content{
      width:1200px;
   }
  } */
