.home-navbar-artist #HomePage-body{
  padding-top: 70px;
  padding-bottom: 100px;
  
}
.home-navbar-artist {
  background-color: #121212;
  color: white;
  margin: 0;
  max-width: 1955px;
  padding-bottom: 110px;
}
.home-navbar-artist .artist-top-section{
  background-color: #121212;
  color: white;
  padding: 0 32px;
  margin: 0;
  max-width: 1955px;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  background-position: 50%;
  height: 300px !important;
  /* opacity: 0.5; */
}

.home-navbar-artist .montly-listeners {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .015em;
  font-weight: var(--glue-font-weight-normal);
  text-transform: uppercase;
  letter-spacing: .16em;
  color: white;
  opacity: 1;
  padding-top: 140px;
  display: block;
  margin-bottom: 1em;
}

.home-navbar-artist .artist-name {
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -.005em;
  font-weight: var(--glue-font-weight-black);
  color: #fff;
}

.home-navbar-artist #buttons {
  margin-top: 16px;
  margin-bottom: 30px;
  /* font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.76px;
  text-transform: uppercase; */
}
.home-navbar-artist .Bio
{
  margin:30px;
  color: rgb(179, 179, 179);
  font-size: 14px;
  letter-spacing: 0.21px;
  line-height: 20px;
  border: 2px solid white;
  padding:10px;
}
.home-navbar-artist #play-button {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.76px;
  text-transform: uppercase;
	background:#1DB954;
	border:none;
	text-align: center;
	letter-spacing: 2px;
  padding: 10px 36px;
  margin-right: 15px;
  outline: none;
  box-shadow: none;
}


.home-navbar-artist #play-button:hover {
  background: #1ED760;
  padding: 12px 38px 10px 38px;
}

.home-navbar-artist #follow-button {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.76px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #fff;
	text-align: center;
	letter-spacing: 2px;
  padding: 8px 34px;
  outline: none;
  box-shadow: none;
  margin-right: 10px;
}



.home-navbar-artist #artist-profile-sections {
  margin-top: 16px;
}

.home-navbar-artist .artist-profile-sections {
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: .015em;
  background-color: #333;
  color: #fff;
  position: relative;
  border: 0;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 8px;
  outline: none;
}

/* .home-navbar-artist .grey-background {
  background-color: #333;
} */
@media (max-width: 730px){
  .home-navbar-artist #follow-button{
    margin-bottom: 10px !important;
  }
}


@media (max-width: 500px){
  .home-navbar-artist .artist-top-section{
    width: 100% !important;
  }
}


#artist-profile-sections a.active{
  background-color: #333;
}