.other-user-page-class{
  background-color: rgb(18,18,18);
  padding-bottom: 100px;
  padding-left: 20px;
  display: table;
}

.other-profile-pic-name{
  text-align: center;
  align-items: center;
  color: white;
  display: block;
  margin-top: 100px;
  margin-bottom: 30px;
}

.other-profile-pic-class{
  height: 200px;
  width: 200px;
  border: none;
  border-radius: 50%;
  background-color: rgb(40,40,40);

}
.other-profile-name-class{

  font-weight: 780;
  text-shadow: rgb(12, 12, 12);
  margin-top: 30px;
  font-size: 36px;
  filter: blur(3px);
  filter: drop-shadow(5px 5px 5px rgb(26, 26, 26));


}
.other-user-page-class h4{

  display: inline-block;
  color: white;
  text-transform: uppercase;
  border: solid white 3px;
  fill: none;
  border-radius: 20px;
  padding: 15px 25px;
  margin-top:10px ;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.4rem;


}

.other-user-page-class h4:hover{
  cursor: pointer;
  font-size: 1.3rem;
  color: rgb(179,179,179);
  border-color: rgb(179,179,179);
}
