.album-page
{
  background-color: rgb(18,18,18);
  color:white;
  overflow: hidden;

}

.album-page .content-spacing {
  padding: 0 32px;
  max-width: 1955px;
  margin-top: 70px;
  margin-bottom: 90px;
  padding-top: 2em;
}
.album-page .card
{
  width: 320px;
  height:320px;
  border:none;
}

.album-page .centered-content li{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.album-page #like-song
{
  font-size: 30px;
  margin-right: 55px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #b3b3b3;
  float: left;
  outline: none;
}
.album-page #like-song:hover{
  color:white;
}

.album-page .table
{
  color:white;
}

.album-page .music-sign:after
{
  content: "\266A" ; 
  font-size: 20px;
  color:#b3b3b3;
  cursor: default;
}
.album-page  tr:hover .music-sign:after{
  content: "\25B8" ; 
  font-size: 20px;
  color:white;
  cursor: default;
  
}
.album-page .song-content
{
  width:800px;
  padding: 3px;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.album-page .song-info a
{
  color:#b3b3b3;
  font-size:12px;
  text-decoration: none;
}
.album-page .song-info a:hover
{
  color:white;
  
  text-decoration: underline;
}
.album-page tr:hover{
  background-color: rgba(70, 66, 69,0.4);
  
}
.album-page td, th {
  padding: 5px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table th{
  width: 0px;
}
.album-page .Menu{
  cursor: pointer;
  visibility: hidden;
}

.album-page  tr:hover .Menu{
  visibility: visible;
}
/* ////////////////// DropDpwn //////////////////////// */
.album-page .dropdown  {
  position: absolute;
  display: inline-flex;
  
  color:white;
  text-decoration: none;
}
.album-page .dropdown a{
  color:white;
  text-decoration: none;
}
/*//////////////// DropMenuCard ///////////////////*/

.album-page .card-menu{
  margin-left: 35px;
  font-size: 26px;
  cursor: pointer;
}
.album-page .card-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: max-content;
  box-shadow: none;
  border-color: black;
  z-index: 1;
  
}

.album-page .card-dropdown-content a {
  color: #B3B3B3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color:#282828;
  
}
.album-page .card-dropdown-content a:hover {
  color:white;
  background-color:rgb(53, 53, 53);
  cursor:default;
}
.album-page .dropdown-menu.card-dropdown-content.show {
  padding: 0;
}

/*//////////////// DropMenuSong ///////////////////*/

.album-page .dropdown-menu.song-dropdown-content.show {
  padding: 0;
}

.album-page .song-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: max-content;
  box-shadow: none;
  border-color: black;
  z-index: 1;
}

.album-page .song-dropdown-content a {
  color: #B3B3B3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color:#282828;
  
}
.album-page .song-dropdown-content a:hover {
  color:white;
  background-color:rgb(53, 53, 53);
  cursor:default;
}

.album-page .show {
  display: block;
  position: absolute;
}

/* //////////////////////// Page responsive ////////////////////////////////*/
@media (max-width: 768px) {
  .album-page .song-content{
  width:280px;
 }
  }
  
  @media (min-width: 768px) and (max-width: 992px){
    .album-page .song-content{
      width:400px;
   }
  }

  @media (min-width: 992px) and (max-width: 1200px){
    .album-page .song-content{
      width:580px;
   }
  }
  
  @media (min-width: 1200px) and (max-width: 1500px){
    .album-page .song-content{
      width:600px;
   }
  }
   @media (min-width: 1500px){
    .album-page .song-content{
      width:800px;
   }
  }