.Footer #bottomNav
{
	height:110px;
	font-size:12px;
	position:fixed;
bottom:0;
width:100%;
}
.Footer .blackBackground
{
	background-color: black;
}
.Footer .bottomRight , .Footer .bottomRight:hover
{
	color:rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.Footer #Egypt:hover
{
	color:#45ed6d;
	text-decoration: none;
}
.Footer .navbar ul .nav-item .nav-link:hover
{
color:#45ed6d;
}