.home-nav .nav-bgblack{
  background-color:#121212!important;
  position: fixed !important;
}

.home-nav {
  

  font-family: 'Roboto', sans-serif;

}
.home-nav .icon-color{
  color:#e6e6e6;
  cursor:pointer;
}
.home-nav #main-nav 
{
  max-width: 1225.6px!important;
  width: 100%!important;
  position:relative !important;
 
}

.home-nav #main-nav .icons{
  background-color: #121212;
  color:#e6e6e6;
  font-weight:700;
  padding: 0px 16px 0px 8px;
  width:40px;
  font-size: 18px;
  line-height: 16px;
  margin: 0 8px;
  color: #fff;
  position: relative;
}
.home-nav #main-nav .words
{
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  position: relative;
  border: 0;
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  margin: 0 8px;
  cursor: pointer;
}
.home-nav #main-nav .words:hover{
  background-color: #333333;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  position: relative;
  border: 0;
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 0 8px;
  cursor: pointer;
}
.home-nav .account-button{
  border-radius: 23px;
  height: 32px;
  padding: 4px;
  color: #fff;
  background-color:rgba(0,0,0,.7);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;

}
@media (max-width:990px)
{
  .home-nav .navbar-nav 
  {
    width:300px;
    display:flex;
  }
  .home-nav .nav 
  {
    width:489px;
    justify-content: start;
  }
  .home-nav .decrease-width
  {
    width:120px;
  }
  .home-nav #more-button{
    margin-right: 450px;
  }
  .home-nav #button-selector{
   display: none;
  }
}

.home-nav #button-selector{
  position:absolute !important;
  right:20px !important;
}
.home-nav .image{
  width: 28px;
  height: 28px;
  margin : 30px 0px;
  border-radius: 50%; 
  background-color:#1d1e1f;
}
.home-nav .name
{
  padding-right:5px;
  padding-left:5px;
  vertical-align: middle;
  margin-top:0;
  padding-top:0;
  margin-bottom:0px;
}
.home-nav .to-collapse
{
  width:80px;
}
.home-nav .dropdown-menu
{
  position: absolute;
  right: 0;
  left: auto;
  padding: 5px 0;
  margin: 2px 0 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.home-nav .dropdown-menu > li > a {
  color: #000;
  padding: 3px 20px;
  line-height: 1.42857143;
}
.home-nav .decor,.home-nav .decor:hover
{
  color:white;
  text-decoration: none !important;
}

.home-nav .dropdown-toggle::after { 
  content: none; 
} 
.home-nav  #user-button
{
  border-radius: 30px;
  padding:0;
  background-color:rgba(0,0,0,.7);
}