.NavBar .NavbarBack
{
	background-color: black;
    height:8%;
}

.NavBar .LogoTop
{
	color:#ffffff;
	font-size:25px;
   
}
.NavBar .navbar-dark .navbar-nav .nav-link {
	color: white;
    font-weight: bold;
    font-size: 16px;
    padding-right: .8rem;
    padding-left: .8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.NavBar .navbar-dark .navbar-nav .nav-link:hover
{
	color:#1ed760;
	text-decoration: none;
}

/* .NavBar .navbar-expand-md .navbar-collapse
{   
    margin-right: 6%;
} */

.NavBar .userImg{
    width: 40px;
    height: 40px;
    margin: -20px 12px -20px 0;
    border-radius: 50%; 
    background-color:#1d1e1f;
}
.NavBar .dropClass:hover
{
    color:#1ed760;
    text-decoration: none;
    background-color: white;
}
.NavBar .dropClass
{
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
   
}



