.recoverPlaylists
{
    margin: 0 2%;
    padding: 30px;
    font-family: Circular, Helvetica, Arial, sans-serif;
    margin-bottom: 30%;
   
}

.recoverPlaylists .pageTitle
{
    margin:13px 0px;
    font-size: 26px;
    color: #1DB954;
    font-weight: 400;
}
.recoverPlaylists .content
{
    font-size: 16px;
}

@media (min-width: 75px) and (max-width: 1200px){
.recoverPlaylists .contentLayout {
    padding: 40px;
}
}

@media (min-width: 75px) and (max-width: 1200px){
    .recoverPlaylists .tableLayout {
        padding: 40px;
 }
}

.recoverPlaylists .tableTitles
{
    
    border-bottom-width: 1px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #C1C3C6;
    border-top-color: transparent;
    
}

.recoverPlaylists .tableLayout
{
    padding:40px;
    margin-bottom: 10px;
    background: white;
    
}
.recoverPlaylists .Restore
{
    color: #1DB954;
    text-decoration: none;
   
}
.recoverPlaylists .Restore:hover
{
    color: #1ed760;
    
}