.SetPasswordContent
{
    margin-bottom: 55%;
}
.SetPasswordContent body{
    padding: 30px 30px;
    font-weight: 400;
    max-width: 877.5px;
    height: 678.4px;
   background-color:  rgb(248, 248, 248);
  
}
.SetPasswordContent .container{
    padding-left: 0;
    padding-right: 0;
}
.SetPasswordContent .header{
    font-size: 26px;
    margin: .5em 0;
    padding-bottom:13px ;
    color: #1DB954;
    border-bottom: 1px solid lightgray;
}
.SetPasswordContent p{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 24px;

}
.SetPasswordContent .ButtonGreen{
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    border-radius: 500px;
    padding:10px 32px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    touch-action: manipulation;
    background-color:rgb(29, 185, 84);
    width: 290px;
    filter: brightness(100%);
   
}
.SetPasswordContent .ButtonGreen:hover{
    filter: brightness(110%);
    background-color:#1ED760;
}
    
.SetPasswordContent #MessageAfterSend{
    background-color:#1ED760;
    font-weight: 400;
    font-size: 12px;
    color: white;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    
}  

    
    
    
