.your-library-nav .nav-bgblack{
  background-color:#121212 !important;
  position: fixed !important;
}
.your-library-nav {
<<<<<<< HEAD
  
  width: 1130px!important;
  width:80%!important;
=======
  overflow-x: hidden;
>>>>>>> 9337d923b82107e37d4ff5d8f8fcc7928ea2cf01
  font-family: 'Roboto', sans-serif;
  background-color:#121212;
}
.your-library-nav .icon-color{
  color:#e6e6e6;
  cursor:pointer;
}
.your-library-nav #main-nav 
{
<<<<<<< HEAD
  max-width: 1130px!important;
  width: 100%!important;
  position: fixed !important;
 
}
.your-library-nav #main-nav .icons{
  background-color: #121212;
=======
  width: 100%;

}
.your-library-nav #main-nav .nav-link{
>>>>>>> 9337d923b82107e37d4ff5d8f8fcc7928ea2cf01
  color:#e6e6e6;
  font-weight:700;
  padding: 8px 16px;

  font-size: 18px;
  line-height: 16px;
  margin: 0 8px;
  color: #fff;
  /* position: fixed; */
}
.your-library-nav #main-nav .nav-link:hover{
  background-color: #333333;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  position: relative;
  border: 0;
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 0 8px;
  cursor: pointer;
}
.your-library-nav .account-button{
  border-radius: 23px;
  height: 32px;
  padding: 4px;
  color: #fff;
  background-color:rgba(0,0,0,.7);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* position: relative; */
 

}
@media (max-width:990px)
{
  .your-library-nav .navbar-nav 
  {
    width:300px;
    display:flex;
  }
  .your-library-nav .nav 
  {
    width:489px;
    justify-content: start;
  }
  .your-library-nav .decrease-width
  {
    width:120px;
  }
<<<<<<< HEAD
  .your-library-nav #more-button{
    margin-right: 450px;
  }
  .your-library-nav #button-selector{
   display: none;
  }
  .your-library-nav #main-nav{
    width:auto;
  }
}

.your-library-nav #button-selector{
  position:absolute !important;
  right:20px !important;
=======
>>>>>>> 9337d923b82107e37d4ff5d8f8fcc7928ea2cf01
}
.your-library-nav .image{
  width: 28px;
  height: 28px;
  margin : 30px auto;
  border-radius: 50%; 
  background-color:#1d1e1f;
}
.your-library-nav .name
{
  padding-left:5px;
  vertical-align: middle;
  margin-bottom:0px;
}
.your-library-nav .to-collapse
{
  width:80px;
}
.your-library-nav .dropdown-menu
{
  position: absolute;
  right: 0;
  left: auto;
  padding: 5px 0;
  margin: 2px 0 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.your-library-nav .dropdown-menu > li > a {
  color: #000;
  padding: 3px 20px;
  line-height: 1.42857143;
}
.your-library-nav .decor,.your-library-nav .decor:hover
{
  color:white;
  text-decoration: none !important;
}
.your-library-nav .more-button
{
  width:200px;
}