.create-new-password
{
  background-color: white;
  height:655px;
}
.create-new-password h1
{
	font-size: 2.75rem;
	font-weight: 500;
  padding-top:7.5%;
  margin-bottom:50px;
}
.create-new-password #labelling
{
	padding-bottom: 0px;
	font-size:0.9rem;
	font-weight:700;
}
@media (min-width:1200px)
{
  .create-new-password .pad
  {
    padding-left: 280px;
  }
}
.create-new-password .button-spacing:hover , .create-new-password #anchor:hover
{
  text-decoration: none;
}
.create-new-password .button-spacing
{
  letter-spacing: 0.15em;
	font-weight:600;
	padding-top:5px;
	padding-bottom:5px;
	width:64px;
	font-size:0.9rem;
	color:white;
}
.create-new-password form
{
  margin-bottom: 16px;
  margin-top: 14px;
  padding-bottom:65px;
}
.create-new-password .padded
{
	margin-bottom:25px;
	border-radius:35px;
	background-color:#1DB954;
	border-color: #28a745;
	text-decoration: none;
}
.create-new-password .padded:hover 
{
	background-color: #35e66a;
	border-color: #35e66a;
	text-decoration: none;
}
.create-new-password #my-text
{
	width:550px;
	height:40px;
	padding-bottom:40px;
	padding-top:0;
}
.create-new-password .red
{
	color:red;
}
@media (max-width:766px)
{
	.create-new-password #paragraph
	{
		margin-left:0px;
		margin-right:0px;
	}
}
@media (min-width:767px)
{
	.create-new-password #paragraph
	{
		margin-left:15%;
		margin-right:15%;
		padding-bottom:20px;
		font-size:1rem;
		font-weight:300;
  }
}
@media (max-width:990px) and (min-width:770px)
{
	.create-new-password #my-text
	{
		width:342px;
		height:40px;
		padding-bottom:40px;
		padding-top:0;
	}
	.create-new-password .pad
	{
		padding-left: 175px;
	}
}
@media (max-width:1200px) and (min-width:990px)
{
	.create-new-password .pad
	{
		padding-left: 190px;
	}
}