.password-is-new 
{
  height:655px;
}
.password-is-new h1
{
	font-size: 2.75rem;
	font-weight: 500;
	padding-top:7.5%;
}
.password-is-new #paragraph
{
	margin-left:15%;
	margin-right:15%;
	padding-bottom:20px;
	font-size:1rem;
}
.password-is-new
{
  background-color: white;
}
.password-is-new #paragraph
{
	padding-bottom:270px;
}