
.welcomePageBody .back
{
	margin-top: 30%;
	color: white;
	margin-bottom: 30%;
}
body
{
    background: url("./images/home.png");
}

.welcomePageBody h1
{
	font-size: 4rem;
	margin: 2px;
	
}
.welcomePageBody h3{
	margin-top: 1%;
	margin-bottom: 2%;
	font-size: 18px;
}




