.account-sidebar {
  background-color:#1d1e1f;
  height: 100%;
  width: 100%;
  font-size: 120%;
  color: rgba(211, 211, 211, 0.849);
  text-align: center;
}

.account-sidebar .user-img{
    width: 64px;
    height: 64px;
    margin : 30px auto;
    border-radius: 50%; 
    background-color:#1d1e1f;
}

.account-sidebar .side-items{
  text-align: left;
}

.account-sidebar .side-items a{
  border-top: 1px solid #131414;
  color:lightgrey;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-decoration:none;
  display: block;
  height: 100%;
  width: 100%;
}

.account-sidebar .side-items :hover{
  text-decoration:none;
  color:lightgrey;
  border-left: 5px solid rgb(9, 175, 98);
}  

.account-sidebar .side-items a :hover{
  border-left: none;
}

.account-sidebar .side-items a.active{
  border-left: 5px solid rgb(9, 175, 98);
  color: white;
}

.account-sidebar .edit-photo-button{
  display: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  margin-bottom: 20px;
  color: lightgrey;
  background-color: rgb(29,30,31);
  border: 1px solid #131414;
  font-size: 80%;
  font-weight: 650;

}
.account-sidebar .edit-photo-button:hover{
  font-size: 75%;
}


.account-sidebar .edit-photo-button:focus{
  outline: none;


}


.account-sidebar:hover .edit-photo-button{
  display: block ;

}


