.modal-header-edit-picture-class{
  color: rgb(29,185,84);
}

.modal-footer-edit-picture-class button{
  max-width: 290px;
	min-width: 160px;
	height: 30px;
	background:#1DB954;
	border:none;
	text-align: center;
	font-size:12px;
	letter-spacing: 2px;
	font-weight: 700;
	float: right;
	line-height: 1;
  padding: 10px 32px;
  color: white;
  border-radius: 20px;
  font-weight: 700;
  font-size: 80%;
}

.modal-footer-edit-picture-class button:hover {
	background: #1ED760;
}

.modal-footer-edit-picture-class button:focus {
	outline: none;
}

.modal-edit-picture-class .old-image-class{
  width: 120px;
  height: 120px;
  border: 2px solid rgb(29,30,31);
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}

.modal-edit-picture-class .profile-container-div{
  text-align: center;
  align-items: center;
}
